* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: skyblue;
  align-items: center;
}

#canvas {
  position: absolute;
  background-color: lightblue;
  top: 0;
  left: 0;
  z-index: -1;
  //cursor: none;
}

.menu {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    text-align: center;
    font: 100px Comic Sans MS;
    color: pink;
    text-shadow: -0.3rem 0 black, 0 0.3rem black, 0.3rem 0 black, 0 -0.3rem black;

  }

  a {
    width: 70%;
    text-decoration: none;
    font: 25px Comic Sans MS;
    padding: 1rem;
    margin: 1rem;
    background-color: blanchedalmond;
    border-radius: 1rem;
    color: lightpink;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
    cursor: pointer;
    outline: 0.2rem solid deeppink;
    text-align: center;
  }


}
.addScore {
  position: relative;
  top: 15rem;
  flex-direction: row;

  input{
    width: 70%;
    text-decoration: none;
    font: 25px Comic Sans MS;
    padding: 1rem;
    margin: 1rem;
    background-color: palevioletred;
    border-radius: 1rem;
    color: lightpink;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
    outline: 0.2rem solid red;
    text-align: center;
  }

  input:focus{
    border: none;
    box-shadow: none;
    outline: 0.2rem solid red;
  }
  ::placeholder{
    color: lightpink;
    text-shadow: none;
  }


  a{
    outline: red 0.2rem solid;
    background-color: palevioletred;
  }
}
#leaderboard{
  text-align: center;
  width: 100vw;
  font: 2.5rem Comic Sans MS;
  background-color: black;
  outline: 0.2rem solid black;
  color: hotpink;


  tbody tr:nth-child(odd) {
    background-color: blanchedalmond;
  }

  tbody tr:nth-child(even) {
    background-color: lightpink;
  }

  td{
    padding: 0.5rem;
    color: black;
  }
  th{
    padding-right: 2rem ;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
  }


}
#tryAgain{
  justify-self: flex-end;
}

