* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(140, 225, 255, 1) 0%, rgba(42, 114, 185, 1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: absolute;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(140, 225, 255, 1) 0%, rgba(42, 114, 185, 1) 100%);
  top: 0;
  left: 0;
  z-index: -1;
  //cursor: none;
}

.menu {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 3rem;
    text-align: center;
    font: 6rem Comic Sans MS;
    color: pink;
    text-shadow: -0.3rem 0 black, 0 0.3rem black, 0.3rem 0 black, 0 -0.3rem black;

  }

  a {
    width: 70%;
    text-decoration: none;
    font: 25px Comic Sans MS;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    color: lightpink;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
    cursor: pointer;
    outline: 0.2rem solid lightpink;
    text-align: center;
  }

  a:hover {
    background-color: lightpink;
    color: white;
  }


}

.addScore {
  position: relative;
  top: 15rem;
  //flex-direction: row;

  input {
    width: 70%;
    text-decoration: none;
    font: 25px Comic Sans MS;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 1rem;
    color: lightpink;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
    outline: 0.2rem solid pink;
    text-align: center;
  }

  ::placeholder {
    color: black;
    text-shadow: none;
    background-color: lightblue;
  }

}


.leaderboard {
  //position: absolute;
  //top:0;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //border: 0.4rem solid pink;
  text-align: center;
  font: 2.5rem Comic Sans MS;
  width: 60vw;

  tbody tr:nth-child(odd) {
    background-color: lightblue;

  }

  tbody tr:nth-child(even) {
    background-color: white;

  }

  td {
    padding: 0.1rem;
    color: black;
  }

  th {
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;

  }
}

#stickyRow {
  color: white;
  position: sticky;
  top: 0;
  background: #2a72b9;
}

#inputName {
  width: 60%;
}

